* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-weight: 500;
    /* Default font size: 16px; */
    font-size: 100%;

    @media only screen and (max-width: $mobile) {
        font-size: 75%;
    }
}


body {
    //position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../images/pattern-background-desktop.svg") ,var(--color-primary-pale-blue);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: repeat-x;
    
    font-family: "Red Hat Display", sans-serif;
}

a, a:visited {
    color: var(--color-primary-bright-blue);
    outline: none;
    border: none;
}

a:hover, a:focus {
    color: var(--color-primary-bright-hover);
}